[Unit]
Description=Code Editor Django Web
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/opt/code-editor
EnvironmentFile=/opt/code-editor/.env
ExecStart=/opt/code-editor/.venv/bin/gunicorn -c /opt/code-editor/gunicorn.conf.py config.wsgi:application
Restart=always

[Install]
WantedBy=multi-user.target
